@import './../../variables.scss';

.sidenav-content {
    background-color: $white;
    width: $sidenav-width;
    @media screen and (max-width: 400px) {
        width: 300px;
    }
    @media screen and (max-width: 350px) {
        width: 250px;
    }
    height: $sidenav-height;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;

    .sidemenu-item {
        height: 24px;
        width: $sidenav-width - 40px;
        @media screen and (max-width: 400px) {
            width: 300px - 40px;
        }
        @media screen and (max-width: 350px) {
            width: 250px - 40px;
        }
        margin: 8px 1px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        color: black;
        z-index: 999;
        text-align: left;

        span {
            height: 24px;
            position: absolute;
            margin-left: 10px;
            padding-top: 2px;
            line-height: 24px;
        }

        &:hover {
            color: blue !important;
            cursor: pointer;
        }
    }
}
