<div class='sidenav-content'>
    <div class='sidemenu-item' (click)='navigate("/menu1")'>
        <i class='material-icons'>alarm</i>
        <span>Menu 1</span>
    </div>
    <div class='sidemenu-item' (click)='navigate("/menu2")'>
        <i class='material-icons'>alarm</i>
        <span>Menu 2</span>
    </div>
    <div class='sidemenu-item'></div>
    <div class='sidemenu-item'></div>
    <div class='sidemenu-item'></div>
    <div class='sidemenu-item'></div>
    <div class='sidemenu-item'></div>
    <div class='sidemenu-item'></div>
    <div class='sidemenu-item'></div>
</div>