@import './../../variables.scss';

.top-menu {
    height: $top-menu-height;
    padding-left: 30px;
    padding-right: 30px;
    background-color: $color-main;
    
    .mat-icon {
        @include material-icons();
        height: $top-menu-height;
        width: $top-menu-height;
        font-size: 30px;                // Must be placed after the include orelse it gets overwrited.
        line-height: $top-menu-height;  // Must be placed after the include orelse it gets overwrited.
        cursor: pointer;                // Must be placed after the include orelse it gets overwrited.
        text-align: center;
        color: $black;

        &:hover {
            color: $white;
        }
    }

}